@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

/* Common Parts */
body{
    font-family: 'Roboto', sans-serif;
}

.card-image{
    height: 327px;
    width: 334px;
}
.card-image img{
    width: 300px;
    padding: 20px;
    background-color: #F1F1F1;
}
.card-border{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

ul{
    font-weight: 500;
}
.banner-text{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin: 50px 0px;
}
.focus-text{
    color: #FABE4C;
}
.button-buy-now{
    color: white;
    background-color: #A4BC46;
    padding: 15px 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* header section */
header{
    height: 100vh;
    background-color: #FFFBF0;
}